[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
statsmodels = "*"
scikit-learn = "*"

[dev-packages]
pyyaml = "*"
matplotlib = "*"

[requires]
python_version = "3.14"
